.App {
  text-align: center;
  background-color: #00573F;
  width: 100vw;
  height: 100vh;
}
.Item{
  color: #fff;
  background-color: hsla(303, 38%, 10%, 0.25);
  border: #fff 0.15vw solid;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}