.App {
  text-align: center;
  background-image: url("./assets/logo.png");
  background-repeat: no-repeat;
  background-position: center 5%;
  background-size: 20%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.GameContainer {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.BracketContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.Item {
  color: #fff;
  background-color: hsla(303, 38%, 10%, 0.25);
  border: #fff 0.15vw solid;
  width: 200px;
  height: 80px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all 100ms linear;
}

.Item:hover{
  scale: 105%;
  background-color: hsla(303, 38%, 10%, 0.75);
cursor: pointer;
}
.Ro16Bracket{
  display: flex;
  flex-direction: row;
}
.RO16ContainerB {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.RO16ContainerS {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.RO8ContainerB{
  display: flex;
  flex-direction: column;
  gap: 126px;
  justify-content: center;
}
.RO8ContainerS{
  display: flex;
  flex-direction: column;
  gap: 126px;
  justify-content: center;

}
.RO8Bracket{
  display: flex;
  flex-direction: row;
}
.RO4Bracket{
  display: flex;
  flex-direction: row;

}
.RO4ContainerB{
  display: flex;
  flex-direction: column;
  gap: 325px;
  justify-content: center;
}
.Modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ModalContent{
  background-color: #00573F;
  border-radius: 20px;
  padding: 20px;
}
.InputContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 20px;
}
input {
  margin: 5px 0;
  padding: 8px;
  font-size: 16px;
}